/* HEADER */

.header {
  border-bottom: #ff4655 solid 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
}

.header input:hover {
  background-color: white;
}

.header input:focus {
  background-color: white;
}

.logo {
  width: 194px;
  height: 45px;
  left: 257px;
  top: 16px;
}

.header-col2 {
  left: 69.18%;
  right: 23.14%;
  top: 1.35%;
  bottom: 97.06%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-right: 40px;
}

.button-mycollection {
  height: 27px;
  width: 125px;
  left: 1127px;
  top: 23px;
  border-radius: nullpx;
  font-size: 20px;
  color: #ffffff;
  margin-right: 20px;
}

.button-logout {
  background: #ff4655;
  height: 37px;
  width: 84px;
  top: 0px;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.button-login {
  background: rgb(12, 170, 123);
  height: 37px;
  width: 84px;
  top: 0px;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  text-align: center;
}
